blacklistComponentNames=[ \
  "com.liferay.site.initializer.extender.internal.file.backed.servlet.FileBackedThumbnailServlet", \
  "com.liferay.site.initializer.extender.internal.SiteInitializerExtender", \
  "com.liferay.site.initializer.extender.internal.SiteInitializerFactoryImpl", \
  "com.liferay.site.initializer.extender.internal.SiteInitializerClientExtension", \
  ]
