<div class="border-top py-3" id="commerce-footer">
	<div class="container-fluid container-fluid-max-xl">
		<div class="align-items-center row">
			<div class="col-3" id="commerce-footer-logo">
				<img alt="" data-lfr-editable-id="commerce-site-footer-logo" data-lfr-editable-type="image" src="[resources:commerce_logo_grey.svg]" />
			</div>

			<div class="align-items-center col-6 d-flex justify-content-center" id="commerce-footer-legal">
			<a class="btn btn-link text-2 text-gray-dark" data-lfr-editable-id="legalLink" data-lfr-editable-type="link" href="#">Legal</a>
			<a class="btn btn-link text-2 text-gray-dark" data-lfr-editable-id="contactUsLink" data-lfr-editable-type="link" href="#">Contact us</a>
			<a class="btn btn-link text-2 text-gray-dark" data-lfr-editable-id="privacyPolicyLink" data-lfr-editable-type="link" href="#">Privacy Policy</a>

			<span class="ml-4 text-2 text-gray-dark" data-lfr-editable-id="copyrightLink" data-lfr-editable-type="text">© ${.now?string.yyyy} Liferay Inc. All Rights Reserved</span>
			</div>

			<div class="align-items-center col-3 d-flex justify-content-end" id="commerce-footer-social">
			<a class="btn btn-monospaced btn-sm" data-lfr-editable-id="socialFacebookLink" data-lfr-editable-type="link" href="#">
				<img alt="Facebook link" data-lfr-editable-id="socialFacebook" data-lfr-editable-type="image" src="[resources:social_icon_facebook.svg]" />
				</a>

			<a class="btn btn-monospaced btn-sm" data-lfr-editable-id="socialXLink" data-lfr-editable-type="link" href="#">
				<img alt="X link" data-lfr-editable-id="socialX" data-lfr-editable-type="image" src="[resources:social_icon_x.svg]" />
				</a>

			<a class="btn btn-monospaced btn-sm" data-lfr-editable-id="socialInstagramLink" data-lfr-editable-type="link" href="#">
				<img alt="Instagram link" data-lfr-editable-id="socialInstagram" data-lfr-editable-type="image" src="[resources:social_icon_instagram.svg]" />
				</a>

			<a class="btn btn-monospaced btn-sm" data-lfr-editable-id="socialLinkedinLink" data-lfr-editable-type="link" href="#">
				<img alt="Linkedin link" data-lfr-editable-id="socialLinkedin" data-lfr-editable-type="image" src="[resources:social_icon_linkedin.svg]" />
				</a>

			<a class="btn btn-monospaced btn-sm" data-lfr-editable-id="socialYoutubeLink" data-lfr-editable-type="link" href="#">
				<img alt="Youtube link" data-lfr-editable-id="socialYoutube" data-lfr-editable-type="image" src="[resources:social_icon_youtube.svg]" />
				</a>
			</div>
		</div>
	</div>
</div>